/****FONTS****/
/*@font-face {
    font-family: 'corbertregular';
    src: url('Corbert-Regular-webfont.eot');
    src: url('Corbert-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('Corbert-Regular-webfont.woff') format('woff'),
         url('Corbert-Regular-webfont.ttf') format('truetype'),
         url('Corbert-Regular-webfont.svg#corbertregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'corbertitalic';
    src: url('Corbert-Italic-webfont.eot');
    src: url('Corbert-Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('Corbert-Italic-webfont.woff') format('woff'),
         url('Corbert-Italic-webfont.ttf') format('truetype'),
         url('Corbert-Italic-webfont.svg#corbertitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}*/

@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300italic,400,600);

body{
    margin:0 0;
    min-width:320px;
    background:#FFE4F4;
}

.main{
    margin-right:auto;
	margin-left:auto;
    max-width:700px;
    padding-top:10%;
    padding-left:5%;
    padding-right:5%;

}

.messageContainer{
    padding:5%;
    background-color:#E6E5E5;
    border:1px solid #979797;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: 0px 0px 30px 0px rgba(183, 183, 183, 0.75);
    -moz-box-shadow:    0px 0px 30px 0px rgba(183, 183, 183, 0.75);
    box-shadow:         0px 0px 30px 0px rgba(183, 183, 183, 0.75);

}

header.answeringMachine img{
    max-width: 100%;
    height: auto;
    width: auto\9; /* ie8 */
}

.answeringMachine{
    margin:0 auto;
}

.message{
}

.message p{
    font-size: 23px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
    text-align:justify;
    color:#333;
    line-height: 1.4em;
} 

@media (max-width: 600px) {
  .message p{
    font-size:21px;
    text-align:left;
  }
}

@media (max-width: 320px) {
  .message p{
    font-size:18px;
  }
}

.message a{
    text-decoration:none;
    color: #CA0392;
}

.message a:hover{
    text-decoration: underline;    
}

.message b{
    font-weight:400;
}

.message i{
    font-style:italic;
}

.EtsyLogo{
    font-family:georgia;
    color:#D15600;
}