/****FONTS****/
/*@font-face {
    font-family: 'corbertregular';
    src: url('Corbert-Regular-webfont.eot');
    src: url('Corbert-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('Corbert-Regular-webfont.woff') format('woff'),
         url('Corbert-Regular-webfont.ttf') format('truetype'),
         url('Corbert-Regular-webfont.svg#corbertregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'corbertitalic';
    src: url('Corbert-Italic-webfont.eot');
    src: url('Corbert-Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('Corbert-Italic-webfont.woff') format('woff'),
         url('Corbert-Italic-webfont.ttf') format('truetype'),
         url('Corbert-Italic-webfont.svg#corbertitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}*/

@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300italic,400,600);

body{
    margin:0 0;
        min-width:480px;
}

.main{
	margin: 0 auto;
    max-width:900px;

}

header.answeringMachine img{
    max-width: 100%;
    height: auto;
    width: auto\9; /* ie8 */
}

.answeringMachine{
    margin:0 auto;
}

.message{
    width:80%;
    margin:0 auto;
}

.message p{
    font-size: 24px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
    text-align:justify;
    color:#333;
    line-height: 1.5em;
} 

@media (max-width: 600px) {
  .message p{
    font-size:21px;
  }
}

.message a{
    text-decoration: underline;
    color: #E100FF;
    
}

.message b{
    font-weight:400;
}

.message i{
    font-style:italic;
}

.EtsyLogo{
    font-family:georgia;
    color:#D15600;
    font-size:26px;
}